.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

.card__image-container {
  background-color: var(--surfaces-secondary);
  border-radius: var(--corners-m);
  overflow: hidden;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.card__title {
  font: var(--body-l);
  color: var(--text-primary);
  margin: 0;
}

.card__subtitle {
  font: var(--body-l);
  color: var(--text-secondary);
  margin: 0;
}

.card--pattern .card__image-container {
  width: 466px;
  height: 466px;
}

.card--pattern {
  width: 466px;
}

.card--article .card__image-container {
  width: 702px;
  height: 466px;
}

.card--article {
  width: 702px;
}

.card--screen {
  width: 466px;
  height: 652px;
}

.card--screen .card__image-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-color: var(--surfaces-secondary);
  border-radius: var(--corners-m);
}

.card--screen .card__image-wrapper {
  position: absolute;
  left: 54px;
  top: 136px;
  width: 357px;
  height: 792px;
  border-radius: 25.68px;
  border: 1.6px solid var(--stroke-primary);
  box-shadow: 0px 3.2px 149.7px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  background-color: #333;
}

.card--screen .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--screen .card__text {
  position: absolute;
  left: 28px;
  top: 28px;
  z-index: 1;
}

a.card {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

a.card:hover {
  opacity: 0.85;
}
